Repository Armor-test/security-tool-129, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/team-reporting, @Armor-test/unit-governance, @Armor-test/dept-reporting, @Armor-test/squad-cloud, @Armor-test/grp-reporting, @Armor-test/team-governance, @Armor-test/dept-notifications, @Armor-test/grp-storage, @Armor-test/unit-devops, @Armor-test/dept-billing, @Armor-test/squad-cache, @Armor-test/dept-automation, @Armor-test/squad-qa, @Armor-test/grp-ui, @Armor-test/dept-identity, @Armor-test/squad-database, @Armor-test/grp-api, @Armor-test/dept-data, @Armor-test/dept-ui, @Armor-test/squad-performance, @Armor-test/squad-ux, @Armor-test/grp-search, @Armor-test/squad-api, @Armor-test/squad-research, @Armor-test/team-notifications, @Armor-test/squad-mobile, @Armor-test/squad-apps, @Armor-test/team-security, @Armor-test/dept-release, @Armor-test/dept-logging, @Armor-test/dept-security, @Armor-test/squad-product, @Armor-test/unit-test, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/security, @Armor-test/auth-team, @Armor-test/infra, @Armor-test/compliance

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/dept-billing, @Armor-test/dept-data, @Armor-test/team-reporting

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/team-reporting, @Armor-test/unit-governance, @Armor-test/dept-reporting

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-notifications, @Armor-test/grp-reporting

Add src/main.py
  src/main.py
Owners: @Armor-test/dept-billing, @Armor-test/dept-data, @Armor-test/team-reporting

Add src/index.js
  src/index.js
Owners: @Armor-test/dept-notifications, @Armor-test/dept-data, @Armor-test/dept-security

.github/CODEOWNERS:

# CODEOWNERS file for security-tool-129
# Global owners - will be requested for all PRs
* @Armor-test/team-reporting @Armor-test/unit-governance @Armor-test/dept-reporting

# Directory ownership
/internal/ @Armor-test/squad-cloud @Armor-test/grp-reporting
/lib/ @Armor-test/team-governance @Armor-test/dept-notifications @Armor-test/grp-storage
/test/ @Armor-test/dept-notifications @Armor-test/grp-reporting
/deploy/ @Armor-test/unit-devops @Armor-test/dept-billing @Armor-test/grp-reporting
/utils/ @Armor-test/team-reporting @Armor-test/squad-cache @Armor-test/dept-automation
/app/ @Armor-test/squad-qa @Armor-test/unit-devops @Armor-test/grp-ui
/api/ @Armor-test/dept-identity @Armor-test/squad-database
/plugins/ @Armor-test/squad-database @Armor-test/grp-api
/pkg/ @Armor-test/dept-data @Armor-test/squad-cloud
/build/ @Armor-test/squad-database @Armor-test/dept-ui
/src/ @Armor-test/dept-billing @Armor-test/dept-data @Armor-test/team-reporting
/hooks/ @Armor-test/squad-cloud @Armor-test/squad-performance @Armor-test/squad-ux
/tests/ @Armor-test/grp-search @Armor-test/squad-qa
/components/ @Armor-test/unit-devops @Armor-test/squad-api

# File type ownership
*.xml @Armor-test/squad-research @Armor-test/team-notifications @Armor-test/squad-mobile
*.config @Armor-test/squad-apps @Armor-test/dept-identity
*.rs @Armor-test/team-security @Armor-test/squad-cache
*.lock @Armor-test/grp-storage @Armor-test/squad-research
*.toml @Armor-test/grp-ui @Armor-test/dept-release @Armor-test/dept-logging
*.scala @Armor-test/squad-research @Armor-test/dept-security @Armor-test/team-reporting
*.kt @Armor-test/dept-data @Armor-test/dept-reporting
*.ts @Armor-test/dept-billing @Armor-test/squad-product @Armor-test/dept-automation
*.js @Armor-test/dept-notifications @Armor-test/dept-data @Armor-test/dept-security
*.yaml @Armor-test/grp-search @Armor-test/unit-test @Armor-test/squad-performance
*.go @Armor-test/squad-cache @Armor-test/team-notifications @Armor-test/dept-data
*.tsx @Armor-test/team-reporting @Armor-test/unit-test

# Security and special files
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
Dockerfile @Armor-test/devops @Armor-test/infra
/src/**/security/ @Armor-test/security @Armor-test/compliance
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
